<% layout("/layouts/boilerplate") %>
<body>

  <div class="row">
    <div class="col-8 offset-2">
      <br/>
    <h3>Edit new Listing</h3>
    <form method="POST" action="/listing/<%=single._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3 mt-3">
        <label for="title" class="form-label">Title</label>
        <input
        name="listing[title]"
        placeholder="title"
        type="text"
        value=<%=single.title%>
        class="form-control"
        required
      />
      <div class="valid-feedback">Title Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        placeholder="description"
        type="text"
        class="form-control"
        required
    >

    <%=single.description%></textarea>
    <div class="invalid-feedback">Please enter a short description !</div>
    </div>

    <div class="mb-3">
      <h3>Original Listing</h3>
      <img class="img-thumbnail h-25 w-25" src = <%=originalImageUrl%> ></img>
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image link</label>
      <input
        name="listing[image]"
        type="file"
        class="form-control"
      />
      <div class="invalid-feedback">Image link should be valid !</div>
    </div>
    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input
        name="listing[price]"
        placeholder="Enter price"
        
        value=<%=single.price%>
        class="form-control"
        required
      />
      <div class="invalid-feedback">Price should be valid!</div>
      </div>
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input
        name="listing[country]"
        placeholder="Enter country"
        type="text"
        value=<%=single.country%>
        class="form-control"
        required
      />
      <div class="invalid-feedback">Country should be valid!</div>
      </div>
    </div>
    
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
      name="listing[location]"
      placeholder="Enter location"
      type="text"
      value=<%=single.location%>
      class="form-control"
      required
    />
    <div class="invalid-feedback">Country should be valid!</div>
    </div>

     
      <button class="btn btn-danger mt-3">Submit</button>
      <br/><br/>
    </form>
  </div>
  </div>
    
</body>
